.login-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(135deg, #0f172a, #1e293b);
}

.login-card {
  width: 380px;
  padding: 40px;

  background: white;
  border-radius: 10px;

  box-shadow: 0 10px 30px rgba(0,0,0,0.2);

  text-align: center;
}

.login-title {
  margin-bottom: 5px;
  font-size: 28px;
  color: #0f172a;
}

.login-subtitle {
  margin-bottom: 30px;
  color: #64748b;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login-form input {
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #cbd5f5;

  font-size: 14px;

  transition: border 0.2s, box-shadow 0.2s;
}

.login-form input:focus {
  outline: none;
  border-color: #2563eb;

  box-shadow: 0 0 0 2px rgba(37, 99, 235, 0.2);
}

.login-form button {
  margin-top: 10px;
  padding: 12px;

  border: none;
  border-radius: 6px;

  background: #2563eb;
  color: white;

  font-size: 15px;
  font-weight: 600;

  cursor: pointer;

  transition: background 0.2s;
}

.login-form button:hover {
  background: #1d4ed8;
}

.auth-link {
  margin-top: 20px;
  font-size: 14px;
  color: #64748b;
}

.auth-link span {
  color: #2563eb;
  cursor: pointer;
  font-weight: 600;
}

.auth-link span:hover {
  text-decoration: underline;
}